<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block headTitle %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='material.min.css') }}">
    <script defer src="{{ url_for('static', filename='material.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .flex-row-wrap-space-evenly {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
        }

        .flex-col-wrap-space-evenly {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row" style="padding-left: 40px;">
                <!-- Title -->
                <span class="mdl-layout-title">{% block title %} {% endblock %}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <span class="material-icons">
                    tips_and_updates
                </span>
            </div>
        </header>
        <main class="mdl-layout__content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>


</html>