<tr>
    <td class="text-center">{{train_no}}</td>
    <td class="text-center">{{src}}</td>
    <td class="text-center">{{sdt}}</td>
    <td class="text-center">{{dst}}</td>
    <td class="text-center">{{dat}}</td>
    <td class="text-center">{{c_1c}}</td>
    <td class="text-center">{{c_2a}}</td>
    <td class="text-center">{{c_3a}}</td>
    <td class="text-center">{{c_fc}}</td>
    <td class="text-center">{{c_cc}}</td>
    <td class="text-center">{{c_sl}}</td>
    <td class="text-center">{{c_2s}}</td>
</tr>