<label>Direct Trains:</label>
<table class="table-bordered table-responsive table table-hover table-striped" id="direct_tbl">
    <thead>
        <th class="text-center">S.No.</th>
        <th class="text-center">Train No.</th>
        <th class="text-center">From</th>
        <th class="text-center">Dept</th>
        <th class="text-center">To</th>
        <th class="text-center">Arr</th>
        <th class="text-center class_code">{{cls}}</th>
    </thead>
    <tbody>
        {{tbody}}
    </tbody>
</table>