<label>One Stop Journey:</label>
<table class ="table-bordered table-responsive table table-hover table-striped" id="one_stop_tbl">
    <thead>
        <th class="text-center">S.NO.</th>
        <th class="text-center">Train No.</th>
        <th class="text-center">From</th>
        <th class="text-center">Dept</th>
        <th class="text-center">To</th>
        <th class="text-center">Arr</th>
        <th class="text-center class_code">{{cls}}</th>
        <th class="text-center"> ------ </th>
        <th class="text-center">Train No.</th>
        <th class="text-center">From</th>
        <th class="text-center">Dept</th>
        <th class="text-center">To</th>
        <th class="text-center">Arr</th>
        <th class="text-center class_code">{{cls}}</th>
        <th class="text-center">
            Waiting
        </th>
    </thead>
    <tbody>
        {{tbody}}
    </tbody>
</table>