<tr>
    <td class="text-center train_no">{{train_no1}}</td>
    <td class="text-center src">{{src1}}</td>
    <td class="text-center sdt">{{sdt1}}</td>
    <td class="text-center dst">{{dst1}}</td>
    <td class="text-center dat">{{dat1}}</td>
    <td class="text-center seat">loading..</td>
    <td class="text-center train_no">{{train_no2}}</td>
    <td class="text-center src">{{src2}}</td>
    <td class="text-center sdt">{{sdt2}}</td>
    <td class="text-center dst">{{dst2}}</td>
    <td class="text-center dat">{{dat2}}</td>
    <td class="text-center seat">loading..</td>
    <td class="text-center wt">{{wt}}</td>
</tr>