<tr class="one_stop_row">
    <td class="text-center" align="right"></td>
    <td class="text-center train_no" align="right">{{train_no1}}</td>
    <td class="text-center src" align="right">{{src1}}</td>
    <td class="text-center sdt" align="right">{{sdt1}}</td>
    <td class="text-center dst" align="right">{{dst1}}</td>
    <td class="text-center dat" align="right">{{dat1}}</td>
    <td class="text-center seat" align="right">loading..</td>
    <td class="text-center" align="right"> ------ </td>
    <td class="text-center train_no" align="right">{{train_no2}}</td>
    <td class="text-center src" align="right">{{src2}}</td>
    <td class="text-center sdt" align="right">{{sdt2}}</td>
    <td class="text-center dst" align="right">{{dst2}}</td>
    <td class="text-center dat" align="right">{{dat2}}</td>
    <td class="text-center seat" align="right">loading..</td>
    <td class="text-center wt" align="right">{{wt}}</td>
</tr>