<label>One Stop Journey:</label>
<table class ="table-bordered">
    <thead>
        <tr>
            <th class="text-center">Train No.</th>
            <th class="text-center">From</th>
            <th class="text-center">Dept</th>
            <th class="text-center">To</th>
            <th class="text-center">Arr</th>
            <th class="text-center class_code">{{cls}}</th>
            <th class="text-center"> ------ </th>
            <th class="text-center">Train No.</th>
            <th class="text-center">From</th>
            <th class="text-center">Dept</th>
            <th class="text-center">To</th>
            <th class="text-center">Arr</th>
            <th class="text-center class_code">{{cls}}</th>
            <th class="text-center">Waiting</th>
        </tr>
    </thead>
    <tbody>
        {{tbody}}
    </tbody>
</table>