<label>One Stop Journey:</label>
<table class ="table-bordered">
    <thead>
        <tr>
            <th class="text-center">Train No.</th>
            <th class="text-center">From</th>
            <th class="text-center">Dept</th>
            <th class="text-center">To</th>
            <th class="text-center">Arr</th>
            <th class="text-center">1C</th>
            <th class="text-center">2A</th>
            <th class="text-center">3A</th>
            <th class="text-center">FC</th>
            <th class="text-center">CC</th>
            <th class="text-center">SL</th>
            <th class="text-center">2S</th>
            <th class="text-center">Train No.</th>
            <th class="text-center">From</th>
            <th class="text-center">Dept</th>
            <th class="text-center">To</th>
            <th class="text-center">Arr</th>
            <th class="text-center">1C</th>
            <th class="text-center">2A</th>
            <th class="text-center">3A</th>
            <th class="text-center">FC</th>
            <th class="text-center">CC</th>
            <th class="text-center">SL</th>
            <th class="text-center">2S</th>
            <th class="text-center">Waiting</th>
        </tr>
    </thead>
    <tbody>
        {{tbody}}
    </tbody>
</table>