<tr>
    <td class="text-center">{{train_no1}}</td>
    <td class="text-center">{{src1}}</td>
    <td class="text-center">{{sdt1}}</td>
    <td class="text-center">{{dst1}}</td>
    <td class="text-center">{{dat1}}</td>
    <td class="text-center">{{c_1c1}}</td>
    <td class="text-center">{{c_2a1}}</td>
    <td class="text-center">{{c_3a1}}</td>
    <td class="text-center">{{c_fc1}}</td>
    <td class="text-center">{{c_cc1}}</td>
    <td class="text-center">{{c_sl1}}</td>
    <td class="text-center">{{c_2s1}}</td>
    <td class="text-center">{{train_no2}}</td>
    <td class="text-center">{{src2}}</td>
    <td class="text-center">{{sdt2}}</td>
    <td class="text-center">{{dst2}}</td>
    <td class="text-center">{{dat2}}</td>
    <td class="text-center">{{c_1c2}}</td>
    <td class="text-center">{{c_2a2}}</td>
    <td class="text-center">{{c_3a2}}</td>
    <td class="text-center">{{c_fc2}}</td>
    <td class="text-center">{{c_cc2}}</td>
    <td class="text-center">{{c_sl2}}</td>
    <td class="text-center">{{c_2s2}}</td>
    <td class="text-center">{{wt}}</td>
</tr>