<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TEPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
</head>
<body>
    <header class="page-header text-center"><h1>Train Enquiry Plus Plus</h1></header>
    <nav class="row">
        <a href ="/enquiry.html">
            <div class="btn panel col-sm-6 text-center">
                <h4>Train Enquiry</h4>
            </div>
        </a>
        <a href ="/service.html">
            <div class="btn panel col-sm-6  text-center">
                <h4>Notification Service</h4>
            </div>
        </a>
       
    </nav>
    <div class="text-center">
        <h1>Coming soon..</h1>
    </div>
    <footer class="container row">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="static/main.js"></script>
    
    </footer>
</body>
</html>